<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999496392916-ej5ctolgemak6uln1cboq0cfpbb4mvug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999496392916-ej5ctolgemak6uln1cboq0cfpbb4mvug</string>
	<key>API_KEY</key>
	<string>AIzaSyBjhwOJxOcefX6DsYGj5ktM2TIjvegsNsc</string>
	<key>GCM_SENDER_ID</key>
	<string>999496392916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bi.attendanceManagement</string>
	<key>PROJECT_ID</key>
	<string>attendance-989e6</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-989e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999496392916:ios:e065970e0fcd371b2e9b41</string>
</dict>
</plist>